<div class="npt-logs-page">
  <div class="container">
    <h3 >Logs History</h3>
    <button class="btn btn-primary" (click)="modalOpened = true">update</button>
  </div>

<clr-datagrid class="npt-datagrid-logs">
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Type</clr-dg-column>
  <clr-dg-column>Created at date</clr-dg-column>
  <clr-dg-column>Updated at date</clr-dg-column>
  <clr-dg-column>Updated by</clr-dg-column>
  <clr-dg-column>Options</clr-dg-column>

    <clr-dg-row *ngFor="let log of logs">
      <clr-dg-cell><a href="javascript:void(0)" (click)="downloadYang(log)">{{log.fileName}}</a></clr-dg-cell>
      <clr-dg-cell>{{log.type | titlecase}}</clr-dg-cell>
      <clr-dg-cell>{{log.createdAt | date: 'short' }}</clr-dg-cell>
      <clr-dg-cell>{{log.updatedAt | date: 'short' }}</clr-dg-cell>
      <clr-dg-cell>{{log.username}}</clr-dg-cell>
      <clr-dg-cell class="npt-cell-button">
        <button class="btn btn-link"  (click)="showYangView(log.id, log.fileName)">
          <clr-icon shape="eye" class="is-solid"></clr-icon>
        </button>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="modalOpened">
  <h3 class="modal-title">Upload YANG file</h3>
  <div class="modal-body">
    <div class=container style="display: flex;">
      <div>
        <input
          type="file"
          (change)="onChange($event)"
          id="file"
          style="display:none;"
          accept="*"
        />
        <label class="btn btn-primary" for="file">Upload file</label>
        <div style="margin-right: 5px;">{{fileName ? fileName : "File isn't choosen"}}</div>
      </div>

      <div style="margin-top: 10px; margin-left: auto; margin-right: 10px;">
        Model of
      </div>
      <div style="margin-top: 10px;">
        <select clrSelect  name="options" [(ngModel)]="type" style="width: 200px; font-size:medium;">
          <option value="switch">Switch</option>
          <option value="router">Router</option>
          <option value="location">Location</option>
          <option value="pc">PC</option>
          <option value="server">Server</option>
          <option value="cloud">Cloud</option>
          <option value="hub">Hub</option>
          <option value="link">Link</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeUpdateFile()">Cancel</button>
    <button class="btn btn-primary" (click)="uploadFile()" [disabled]="!fileData || !type">Ok</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="yangOpened">
  <h3 class="modal-title">File's view</h3>
  <div class="modal-body">
    <form class="clr-form">
      <div class="clr-form-control" style="margin-top: 0">
        <label for="vertical-textarea-basic" class="clr-control-label">{{currentYangName}}</label>
        <div class="clr-control-container" style="width: 100%">
          <div class="clr-textarea-wrapper">
            <textarea
              name="yang-text"
              id="vertical-textarea-basic"
              style="width: 100%; height: 300px"
              class="clr-textarea"
              [(ngModel)]="yangText"
            >

            </textarea>
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
        </div>
      </div>
    </form>
    <button class="btn btn-primary" (click)="yangOpened = false">Close</button>
  </div>
</clr-modal>
