.npt-header-parameters {
    width: 100%;
    display: flex;
    background: white;
    border-bottom: 1px solid #cccccc;
}

.npt-header-parameters-title{
    margin-left: 10px;
    margin-top: 0px;
    margin-right: 16px;
}

.npt-app-parameters {
    margin-left: auto;
}
