<div class="login-wrapper" id="npt-login-page">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Network Planning Tool
      <h5 class="hint">Use your Username or Email to login</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" name="username" clrInput placeholder="Username or Email" formControlName="usernameOrEmail"/>
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
      </clr-password-container>
      <div class="error active" *ngIf="loginError">
        {{this.errorMsg}}
      </div>
      <button type="submit" class="btn btn-primary">LOGIN</button>
    </div>
  </form>
</div>
