<div class = "shell" *ngIf="selectedItem">
  <div class="clr-row">
    <button type="button" class="btn btn-primary" (click)="deleteElement()" *ngIf="selectedItem.type != 'location-node'">Delete</button>
    <div class="text" *ngFor="let item of selectedItem.basic.params">{{item.name}}: {{item.value}}</div>
  </div>
</div>
