.clr-row{
  display: flex;
  flex-direction: column
}
.shell{
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  right: 40px;
  top: 115px;
  border: 1px solid darkgray;
  background-color: #f5f5f5;
  max-height: 500px;
}

