.npt-library-button {
    margin: 5px;
    width: 60px;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    font-size: 12px;
    border: none;
    background: none;
    cursor: pointer;
}