.npt-logout-btn {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.npt-projects-btn {
  margin-top: auto;
  margin-bottom: auto;
}

.auth-class{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: flex;
}

.name-class{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 20px
}
