<div *ngIf="project.type == 'private'">
  <div style="display: flex; justify-content: center; align-items: center;">
    <h3 style="margin: auto auto auto 0;">Members</h3>
    <button type="button" class="btn btn-primary npt-add-members-button" (click)="addMember()" style="margin-right:0; margin-left: auto">Add</button>
  </div>
  <clr-datagrid *ngIf="members">
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>
      Options
    </clr-dg-column>
    <clr-dg-row>
      <clr-dg-cell>
        <a>{{project.owner.name}} {{project.owner.surname}}</a>
      </clr-dg-cell>
      <clr-dg-cell>
      <a>Owner</a>
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-row *ngFor="let member of members">
      <clr-dg-cell>
        <a>{{member.name}} {{member.surname}}</a>
      </clr-dg-cell>
      <clr-dg-cell class="npt-cell-button">
        <button class="btn btn-link" (click)="deleteMember(member)">
          <clr-icon shape="trash" class="is-error"></clr-icon>
        </button>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false" *ngIf="availableUsers">
  <div class="modal-title">
    Add Members
  </div>
  <div class="modal-body">
    <clr-datagrid>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Add</clr-dg-column>
      <clr-dg-row *ngFor="let user of availableUsers">
        <clr-dg-cell>
          <a>{{user.name}} {{user.surname}}</a>
        </clr-dg-cell>
        <clr-dg-cell class="npt-cell-button">
          <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="chooseUser(user)">
            <clr-icon shape="check"></clr-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="opened = false;">Cancel</button>
  </div>
</clr-modal>
