<div class="content-container" style="height: 100%;">
    <nav class="sidenav">
        <app-library-sidebar
          style="overflow: auto; height:100%"
          *ngIf="project"
          [showError]="cantCreate"
          (onClickSidebar)="onClickSidebar($event);"
          [project]="project"
          [errorMsg]="errorMsg">
        </app-library-sidebar>
    </nav>
  <div style="display: flex;flex-direction: column; width:100%">
    <app-project-header-parameters *ngIf="project" [project]="project" style="width:100%"></app-project-header-parameters>
    <div class="content-area" style="width:100%">
      <app-view  *ngIf="project" #view [project]="project" (onAddLink)="onAddLink($event);"></app-view>
    </div>
  </div>

</div>

<clr-modal *ngIf="clickedIcon && model && model.length" [(clrModalOpen)]="opened" [clrModalClosable]="false" class="dialog">
  <h3 class="modal-title">Add {{clickedIcon.name}}</h3>
  <div class="modal-body">
    <form clrForm class="clr-form-vertical">
      <div style="display: flex;">

        <div *ngIf="clickedIcon.type != 'location' && clickedIcon.type != 'cloud' && clickedIcon.type != 'link'">
          <ng-container>
            <clr-select-container>
              <label>Location name: </label>
              <select clrSelect name="choosedLocation" [(ngModel)]="clusterId">
                <option *ngFor="let loc of availableLocations" [value]="loc.id">{{loc.label}}</option>
              </select>
            </clr-select-container>
          </ng-container>
        </div>

        <div>
          <ng-container *ngFor="let attribute of model;">
            <clr-input-container *ngIf="attribute['data-type'] == 'string'">
              <label>{{attribute.name}}</label>
              <input clrInput type="text" [(ngModel)]="attribute.value" name="attribute.name" />
            </clr-input-container>

            <clr-input-container *ngIf="attribute['data-type'] == 'uint8'">
              <label>{{attribute.name}}</label>
              <input clrInput type="text" [(ngModel)]="attribute.value" name="attribute.name" />
            </clr-input-container>

            <clr-select-container  *ngIf="attribute['data-type'] == 'enumeration'">
              <label>{{attribute.name}}</label>
              <select clrSelect name="attribute.name" [(ngModel)]="attribute.value">
                <option *ngFor="let value of attribute['enum-values']" [value]="value">{{value}}</option>
              </select>
            </clr-select-container>
          </ng-container>
        </div>

        <div>
          <ng-container *ngFor="let attribute of model;">
            <div *ngIf="attribute['data-type'] == 'list'">
              <div style="display: flex; align-items: center;">
                <clr-input-container>
                  <label>{{attribute.name}}</label>
                </clr-input-container>

                <button class="btn btn-sm btn btn-icon npt-button-delete" (click)="addValue(attribute)">
                  <clr-icon shape="plus"></clr-icon>
                </button>
              </div>

              <ng-container *ngFor="let value of attribute.value; index as index;">
                <div style="border-style: solid; border-color: #0077b8;; margin-bottom: 5px;">
                  <form clrForm>
                    <ng-container *ngFor="let attribute of attribute.leafs">

                      <clr-input-container *ngIf="attribute['data-type'] == 'string'">
                        <label>{{attribute.name}}</label>
                        <input clrInput type="text" [(ngModel)]="value[attribute.name]" name="attribute.name" />
                      </clr-input-container>

                      <clr-input-container *ngIf="attribute['data-type'] == 'uint8'">
                        <label>{{attribute.name}}</label>
                        <input clrInput type="text" [(ngModel)]="value[attribute.name]" name="attribute.name" />
                      </clr-input-container>

                      <clr-select-container  *ngIf="attribute['data-type'] == 'enumeration'">
                        <label>{{attribute.name}}</label>
                        <select clrSelect name="attribute.name" [(ngModel)]="value[attribute.name]">
                          <option *ngFor="let value of attribute['enum-values']" [value]="value">{{value}}</option>
                        </select>
                      </clr-select-container>

                    </ng-container>
                  </form>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onClickCancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onClickOk()">Ok</button>
  </div>
</clr-modal>
